

<div th:templates>

    <nav class="navbar navbar-expand-lg bg-body-tertiary  navbar-primary fixed-top bg-light bg-primary">-->
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="assets/img/logo.png" alt="Bootstrap" width="60" height=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item" >
                        <button onclick="myFunction2()" class="btn btn-primary">About us</button>

                        <p id="demo2"></p>
                    </li>
                    <li class="nav-item"  style="padding-left:12px">

                        <button onclick="myFunction()" class="btn btn-primary">Contact us</button>

                        <p id="demo"></p>


                    </li>


                </ul>

                <div class="dropdown mt-">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Login
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/adminlog">Admin</a>
                        <a class="dropdown-item" href="#">Doctor </a>
                        <a class="dropdown-item" href="#">Receptionist</a>
                        <a class="dropdown-item" href="#">Pharmacist</a>
                    </div>
                </div>

            </div>

        </div>

    </nav>

</div>









