<!DOCTYPE html>
<html>
<div th:replace="fragment/head1 :: head2">
</div>

<body>
<div class="main-wrapper">
    <div class="account-page">
        <div class="container">
            <h3 class="account-title text-white">Admin~Register</h3>
            <div class="account-box">
                <div class="account-wrapper">
                    <div class="account-logo">
                        <a href="index.html"><img src="assets/img/logo.png" alt="School-admin"></a>
                    </div>
                    <form action="/Admin" method="post">
                        <div class="form-group custom-mt-form-group">
                            <input type="text"  id="name" name="name"/>
                            <label class="control-label">Username </label><i class="bar"></i>
                        </div>

                        <div class="form-group custom-mt-form-group">
                            <input type="text" id="email" name="email"  />
                            <label class="control-label">Email </label><i class="bar"></i>
                        </div>


                        <div class="form-group custom-mt-form-group">
                            <input type="password" id="password" name="password"/>
                            <label class="control-label">Password</label><i class="bar"></i>
                        </div>

                        <div class="form-group custom-mt-form-group">
                            <input type="password"  id="repassword" name="repassword"/>
                            <label class="control-label">Repeat Password</label><i class="bar"></i>
                        </div>
                        <div class="form-group text-center custom-mt-form-group">
                            <button class="btn btn-primary btn-block account-btn" type="submit">Register</button>
                        </div>
                        <div class="text-center">
                            <a href="login.html">Already have an account?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragment/footerjs1 :: foot2">
</div>
</body>

</html>